TMP_DIR=tmp

S3_ENDPOINT=http://rustfs:9000
S3_ACCESS_KEY=rustfs
S3_SECRET_KEY=rustfs123
S3_BUCKET=subvision

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
# How many jobs the consumer processes concurrently (default 1)
RABBITMQ_PREFETCH=1
# How many attempts a job gets before it dead-letters (default 3)
RABBITMQ_MAX_ATTEMPTS=3

# Render options (defaults 30 / 1920 / 1080 / karaoke)
RENDER_FPS=30
RENDER_WIDTH=1920
RENDER_HEIGHT=1080
RENDER_TEMPLATE=karaoke
